@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Merriweather', serif;
}

body {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body::-webkit-scrollbar {
	display: none;
}


